<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add medicine</title>
</head>
<body>
<div>
    Add new medicine for clinical trials. Fill in the following form.
</div>
<form th:action="@{/medicine/add}" method="post" th:object="${medicine}">
<!--    <label for="manufacturer">Choose manufacturer from database:-->
<!--    <select id="manufacturer"  th:field="*{manufacturer}" >-->
<!--        <option th:each="manufacturer, i : ${manufacturers}" th:text="${manufacturer.name}"></option>-->
<!--    </select></label><br>-->
    <ul th:each="manufacturer, i : ${manufacturers}">
        <li th:text="${i.index}+' '+${manufacturer.name}"></li>
    </ul>
    <p>or</p><br>
    <a th:href = "@{/medicine/registerManufacturer}">Add new manufacturer</a><br><br>
    <label for="medicineName">Name of medicine
        <input id="medicineName" th:type="text" th:field="*{medicineName}">
    </label><br>
        <br>
    <input type="submit">
</form>
</body>
</html>